
.card-body{
  background: dimgrey;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 800px;
}
.card-title{
  text-align: center;
  font-size: 21px;
  font-weight: 600;
}
.card-img{
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}
.alert{
  text-align: center;
}

.btn-card {
  width: 100%;
  height:7vh;  
  background: #352846;
  font-size: 20px;
  border: solid 1px #222;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  margin-top: -5px;
}

.btn-card:hover{
  transition: 0.9s;
  filter: hue-rotate(70deg);
  filter: contrast(70deg);
}

.card-footer{
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 800px;
}