body{
  background: #4f08ac;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

img {
  width: 8rem;
}

#message{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  background: #804ec2;
  width: 100%;
  border: solid 4px #804ec2;
  border-left: none;
  border-right: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#push{
  position: absolute;
  top: 40vh;
  bottom: 0;
  left: 10px;
  margin: 0 auto;
  cursor: pointer;
}
#push:hover{
  animation-name: push;
  animation: pulse 2.2s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
}

@-webkit-keyframes push {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(100%);
  }
}
keyframes push {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(100%);
  }
}

#burst{
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 70vh;
  bottom: 0;
  right: 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: #b9004b;
  color: #0b080e;
  cursor: pointer;
}
#burst:hover{
  animation-name: push;
  animation: pulse 2.2s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
}

#restart{
  width: 100%;
  height:3rem;
  border: none;
  margin: 0 auto;
  text-align: center;
  border-radius:2px;
  background-color: #c20065;
  font-weight: bolder;
  font-size:1rem;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
#restart:hover{
  transition: 0.9s;
  filter: brightness(140%);
}